/* Common Styles */

/* Fonts colors and Layouts i.e. logo here */

:root{
  /* All root styles go here */
  --color-heading: black;
  --color-text: black;
  --color-nav: black;
  --color-logo-text: black;
}

*, *::after, *::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo-group{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

nav li{
  list-style: none;
  color: var(--color-nav);
  font-weight: 300;
}

a{
  color: var(--link-color);
  text-decoration: none;
}
a:visited{
  color: var(--link-color);
  text-decoration: none;
}
a:hover{
  color: var(--link-color);
  text-decoration: none;
}

/* Footer styles are common at the time of development */

footer{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  footer .footer-content{
    text-align: center;
    padding: 16px 0;
  }


/* Mobile Styles */
@media screen and (max-width:576px){
  /* Layout, Sizes (Text, Heading, Logos, Images, Forms), Animations or/and other styles like gradient etc */
}


/* Tablet Styles */
@media screen and (max-width:768px) and (min-width:577px){
  /* Layout, Sizes (Text, Heading, Logos, Images, Forms), Animations or/and other styles like gradient etc */
}


/* Desktop Styles */
@media screen and (min-width:769px){
  /* Layout, Sizes (Text, Heading, Logos, Images, Forms), Animations or/and other styles like gradient etc */
  nav ul{
    display: flex;
    flex-flow: row nowrap;
  }
}


/* Larger Screens */
@media screen and (min-width:992px){
  /* Layout, Sizes (Text, Heading, Logos, Images, Forms), Animations or/and other styles like gradient etc */
}