:root{
      --blue: #1E90FF;
      --dark-blue: #003E7A;
      --white: #ffffff;
      --hero-section-bg-color: #142438;
      --logo-text-font-size-mobile: 20px;
      --logo-text-font-family: "gruppo", sans-serif;
      --body-text: "Nunito", "Montserrat";
      --body-font-size:14px;
      --h1-font-size-mobile: 32px;
      --h2-font-size-mobile: 28px;
      --h3-font-size-mobile: 24px;
      --h1-font-size: 32px;
      --h2-font-size: 28px;
      --h3-font-size: 24px;
      --body-text-color: white;
      --dark-theme-background-color: #05060F;
      --hero-backdrop-filter: blur(6px);
      --hero-backdrop-color: hsl(210, 100%, 56%);
      --hero-backdrop-color-mobile: hsl(210, 80%, 30%);
      --blob: radial-gradient(farthest-side at 50% 100%, var(--hero-backdrop-color-mobile)40px, transparent 86%);
      --blob-tablet: radial-gradient(farthest-side at -60% 70%, var(--hero-backdrop-color)40px, transparent);
      --blob-desktop: radial-gradient(farthest-side at 80% 120%, var(--hero-backdrop-color) 4%, transparent 100%);
      --footer-top-border: #05060F;
      --bg-color-cta: hsl(210, 100%, 45%);
      --corel-red: hsl(14, 100%, 35%);
      --font-size-cta: 17px;
    }
    *, *::before, *::after{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      list-style-type: none;
      line-height: 20px;
    }
    h1, h2, h3, h4{
        line-height: initial;
    }
    html{
      width: 100%;
      height: 100%;
      background-color: var(--dark-theme-background-color);
    }
    body{
      color: var(--body-text-color);
      font-size: 18px;
      font-family: 'Gruppo', sans-serif;
    }
    /* Common design for navigation menu */
    .nav-menu a{
      text-decoration: none;
      color: var(--body-text-color);
      font-size:var(--logo-text-font-size-mobile);
    }
    .logo-group{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
    header a {
      text-decoration: none;
      color: var(--body-text-color);
      font-size:var(--logo-text-font-size-mobile);
    }
    .hero-section .hero-cta{
      color: var(--white);
      border: none;
      font-family: var(--font-size-cta);
      border-radius: 0 15px 0 15px;
      cursor: pointer;
      margin: 0;
      font-size: var(--font-size-cta);
      background-color: var(--bg-color-cta);
      padding: 8px 0;
    }

/*     Common Styles for Services Section Start */
    .services-heading {
      font-size: var(--h1-font-size-mobile);
      padding: 32px 0;
      text-align: center;
      padding: 68px 0;
      text-align: center;
    }
    .service-container{
      background-color: transparent;
      min-height: 60vh;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      position: relative;
    }
    .services h3{
      text-align: center;
      padding: 16px 0;
    }
    .services h4{
      text-align: center;
      padding: 16px 0;
    }
    .service-container > h3.service-heading {
      padding: 38px 0;
      font-size: var(--h2-font-size-mobile);
    }
    .service-items h4{
      font-family: var(--body-text);
      font-weight: normal;
      font-size: var(--body-font-size);
      text-align: left;
    }

/*     Common Styles for Services Section End */

/*     Services styles start here      */


    .service-container .service-heading::before{
      content: "";
      width: 90%;
      height: 2px;
      position: absolute;
      background-color: rgb(30, 143, 255);
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid rgb(30, 143, 255);
      border-radius: 0 0 20px 20px;
    }



  /*     Services styles End here */
  /* Common Footer section styles  starts here */
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footer-heading{
    font-size: var(--body-font-size);
    text-align: center;
  }

    /* Common Footer section styles ends here */

    /* Common contact us section styles ends here */

    .contact-section{
        display: flex;
        flex-flow: column nowrap;
        gap: 100px;
    }
    .contact-section .contact-heading{
        text-align: center;
        font-size: var(--h1-font-size);
        width: 100%;
    }
    .contact-section .contact-container{
        width: calc(100vw - 32px);
        display: flex;
        flex-flow: column nowrap;
        gap: 50px;
    }
    .contact-button-container{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        width: 100%;
        gap: 25px;
    }
    .contact-section p{
        text-align: center;
        font-family: var(--body-text);
        font-size: var(--body-font-size);
    }
    .contact-banner{
        background-color: inherit;
        color: white;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        font-size: var(--body-font-size);
        align-items: center;
        padding: 8px 16px;
        font-family: var(--body-text);
        align-self: center;
        cursor: pointer;
        border: 2px solid rgba(30, 143, 255, 0.5);
    }

    .hero-text{
        font-family: var(--body-text);
        font-size: var(--body-font-size);
    }
    /* section.contact-section button:first-child{
        border-radius: 0 15px;
    }
    section.contact-section button:last-child{
        border-radius: 15px 0;
    } */
    /* Common contact us section styles ends here */

    /* Common styles for wcu section starts here*/


    .why-choose-us-section{
        font-family: var(--body-text);
        font-size: var(--body-font-size);
    }
    .why-choose-us-section h2{
        font-family: var(--logo-text-font-family);
        text-align: center;
        font-size: var(--h1-font-size);
    }
    .why-choose-us-section .wcu-cards-list{
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .wcu-card h3{
        text-align: center;
        font-family: var(--logo-text-font-family);
        font-size: var(--h2-font-size);
        text-decoration: 1px underline;
        text-underline-offset: 3px;
    }
    /* .wcu-card p{
        height: 96px;
    } */
    .wcu-card{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 50px;
        align-items: center;
    }

    @-moz-document url-prefix() {
      /* Fix for Firefox backface-visibility issue */
      .card-back {
        transform: rotateY(180deg) translateZ(1px);
      }
      .card-front {
        transform: rotateY(0) translateZ(0);
      }
    }

    .wcu-card ul{
        list-style-image: url('/checkmark.svg');
        list-style-position: outside;
    }
    .wcu-card li{
        padding: 4px 0;
    }

     .card-container {
      perspective: 1000px;
      overflow: visible;
    }

    .card {
      position: relative;
      transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transition: transform 0.6s;
      cursor: pointer;
      width: 100%;
      height: 100%;
      border: 1px solid rgba(30, 143, 255, 0.499);
      border-radius: 20px;
      overflow: visible;
    }
    .card-face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
    }

    .card-back{
      transform: rotateY(180deg);
    }
    .card-back ul{
      padding: 0 16px 0 40px;
    }

    /* Common styles for wcu section ends here*/

    /* Common styles for our clients section starts here*/


    .our-clients{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        min-height: 370px;
        height: 50vh;
    }
    .our-clients-heading{
        font-size: var(--h1-font-size);
        padding: 68px 0;
    }
    .logos-container{
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        width: 100%;
        padding: 0 16px;
        flex-flow: row nowrap;
        gap: 150px;
        height: 200px;
    }
    .client-logo{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .white-bg{
        background-color: white;
        border-radius: 10px;
    }
    

    /* Common styles for our clients section ends here*/
    
    @media only screen and (max-width: 576px) {
      body{
        font-size: var(--body-font-size);
      }
      .hero-section h1{
        font-weight: 900;
        font-size: var(--h1-font-size-mobile);
        text-align: center;
      }
      .logo-group{
      justify-content: center;
    }
    header .logo-text{
      font-size: var(--logo-text-font-size-mobile);
      font-family: var(--logo-text-font-family);
      
    }
    h1, h2, h3, h4{
      font-family: "gruppo", sans-serif;
    }
    .nav-menu li{
      text-align: center;
      padding: 8px 0;
    }
    .nav-menu ul{
      list-style-type: none;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    .nav-menu{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--dark-theme-background-color);
    transform: translateX(100%);
    z-index: 990;
    transition: all 0.3s ease;
  }
  .nav-menu-open{
    transform: translateX(0);
  }
    .menu-open-button{
      display: block;
    }
    .menu-close-button{
      display: none;
      position: absolute;
      left: 0;
      top: 0;
    }
    .menu-close-button-visible{
      display: block;
      width: 100vw;
      height: 100vh;
      background-color: transparent;
      backdrop-filter: blur(10px);
      z-index: 800;
    }
    .no-scroll{
      height: 100%;
      width: 100%;
      position: fixed;
      overflow: hidden;
    }
    .header{
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 8px 0 0;
      height: 55px;
    }
    .cta-button-container{
      display: none;
    }
    /* Starting body hero styles here */
    .hero-section .hero-cta{
        width: calc(100vw/12*10 - 32px );
    }

    .hero-section{
      height: calc(100vh - 55px);
      background-color: var(--dark-theme-background-color);
      width: 100%;      
    }
    .hero-container{
      display: flex;
      color: var(--white);
      flex-flow: column nowrap;
      position: relative;
      padding: 0 16px;
      height: 100%;
      justify-content: space-evenly;
      padding-bottom: 50px;
      background-color: transparent;
      backdrop-filter: var(--hero-backdrop-filter);
      opacity: 0;
      transition: 700ms all;
      transform: translateY(10%);
    }
    .hero-section .hero-list{
      width: calc(100vw/12*10 - 32px );
      align-self: center;
    }
    .hero-text{
        text-align: center;
    }
    .hero-list li{
      padding: 8px 0;
      text-align: left;
      font-family: var(--body-text);
    }
    .button-container{
      text-align: center;
    }
    .hero-section > div{
      height: 100%;
      width: 100%;
      background-image: var(--blob);
    }
    .service-container{
      min-height: 600px;
      height: 88vh;
      justify-content: center;
    }
    .services .first-service-container{
      height: calc(100vh - 160px);
    }
/* Ending body hero styles here */
    /* footer styles for mobile starts here */

    footer{
    height: 50px;
  }
    /* footer styles for mobile ends here */


    /* Contact-us styles */

    section.contact-section{
        padding: 16px 0 0 0;
        justify-content: center;
        height: calc(100vh - 50px);
        min-height: 400px;
    }
    section.contact-section .contact-heading{
        margin: 8px 0;
    }
    section.contact-section .contact-container{
        width: calc(100vw/12*10 - 32px);
        justify-content: flex-start;
        align-self: center;
    }
    .contact-button-container{
        justify-content: space-evenly;
        width: 100%;
        gap: 25px;
    }
    section.contact-section p{
        text-align: left;
        font-family: var(--body-text);
        font-size: var(--body-font-size);
    }
    .contact-banner{
        width: 100%;
        justify-content: center;
    }
    /* contact-us styles ends here */


    /* Intersection styles */

    .contact-container, .service-container{
    opacity: 0;
    transform: translateX(-80%);
    }

    /* Intersection styles ends here */

    .why-choose-us-section{
      width: 100%;
    }


    .why-choose-us-section .wcu-cards-list{
        flex-flow: column nowrap;
        gap: 16px;
        width: 100vw;
    }
    .wcu-heading{
        padding: 68px 0;
    }
    .wcu-card{
        width: calc(100vw - 32px);
        aspect-ratio: 1/1;
        justify-content: space-evenly;
        font-size: var(--body-font-size);
        margin-left: 16px;
        margin-right: 16px;
    }
    .wcu-card:first-child{
        /* height: calc(100vh - 160px); */
    }
    .wcu-card ul{
        width: 75vw;
        height: initial;
    }

    .our-clients{
        height: 100vh;
        justify-content: space-evenly;
    }
    .logos-container{
        flex-flow: row wrap;
        gap: 16px;
        height: initial;
        justify-content: space-around;
        transform: translateX(-80%);
        opacity: 0;
    }
    .client-logo:first-child{
        width: calc(100vw - 32px);
        background-color: white;
        border-radius: 15px;
    }
    .client-logo{
        width: 210px;
        text-align: center;
    }
    .client-logo:last-child{
        width: calc(100vw - 32px);
        aspect-ratio: 93/13;
    }
    .client-logo:last-child img{
        width: 100%;
    }
    .client-logo:nth-child(3), .client-logo:nth-child(4), .client-logo:nth-child(5), .client-logo:nth-child(6){
        width: 100px;
    }
    .show{
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms;
    }
    .mobile-hover{
      transform: rotateY(180deg);
      transition: all 1s;
    }
    
    }
    @media (prefers-reduced-motion) {
        .contact-container, .service-container, .service-container{
            transition: none;
        }
    }